/*左上角的钱*/  
.moneyle{
    z-index: 2;
    position: absolute;
    margin-top:500px;
    /*animation: pulse 3s infinite ;*/
}
/*右上角的钱*/
.moneyre{
    z-index: 2;
    position: absolute;
    margin-top:500px;
    /*animation: pulse_re 3s infinite ;*/
}

/*中间的钱*/
.moneyme{
    z-index: 2;
    position: absolute;
    margin-top:500px;
    /*animation: pulse_me 2.5s infinite ;*/
}
.moneymd{
    z-index: 2;
    position: absolute;
    margin-top:500px;
    /*animation: pulse_md 2.5s infinite ;*/
}
/*左下角的钱*/
.moneyld{
    z-index: 2;
    position: absolute;
    margin-top:500px;
    /*animation: pulse_ld 2s infinite ;*/
}
/*右下角的钱*/
.moneyrd{
    z-index: 2;
    position: absolute;
    margin-top:500px;
    /*animation: pulse_rd 2s infinite ;*/
}

.moneyaaa{
    z-index: 2;
    position: absolute;
    margin-top:500px;
    /*animation: pulse_rd 2s infinite ;*/
}
.moneyaa{
    z-index: 2;
    position: absolute;
    margin-top:500px;
    /*animation: pulse_rd 2s infinite ;*/
}

.moneybag{
	width: 400px;
	height: 400px;	
	margin-top: 400px;
	position: relative;

	z-index: 33;
}
/*左上角的动画*/
@keyframes pulse {
    0%   {margin-top: 400px;left: 750px;opacity:1}
    100% {margin-top: 100px;left: 500px;opacity:0.3}
}
/*左下角的动画*/
@keyframes pulse_ld {
    0%   {margin-top: 400px;left: 750px;opacity:1}
    100% {margin-top: 100px;left: 500px;opacity:0.3}
}

/*中间的动画*/
@keyframes pulse_me {
    0%   {margin-top: 400px;left: 750px;opacity:1}
    100% {margin-top: 100px;left: 680px;opacity:0.3}
}
@keyframes pulse_md {
    0%   {margin-top: 400px;left: 750px;opacity:1}
    100% {margin-top: 100px;left: 880px;opacity:0.3}
}	

/*右上角的动画*/
@keyframes pulse_re {
     0%   {margin-top: 400px;left: 750px;opacity:1}
    100% {margin-top: 100px;left: 900px;opacity:0.3}
}
/*右下角的动画*/
@keyframes pulse_rd {
     0%   {margin-top: 400px;left: 750px;opacity:1}
    100% {margin-top: 100px;left: 1000px;opacity:0.3}
}
@keyframes pulse_aaa {
     0%   {margin-top: 400px;left: 750px;opacity:1}
    100% {margin-top: 100px;left: 900px;opacity:0.3}
}
@keyframes pulse_aa {
     0%   {margin-top: 400px;left: 750px;opacity:1}
    100% {margin-top: 100px;left: 650px;opacity:0.3}
}

@keyframes bgnum {
    0%  {transform: scale(1);}
    50%{transform: scale(3);}
    100%{transform: scale(1);}
}
