<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>陈总的红包</title>

    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" />
     <link href="../../css/hc/click.css" rel="stylesheet" type="text/css" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    
</head>
<body style="height: 100%;/*background:url(../../img/fahongbao.png) */;background-size:100% 100%S ;text-align: center;">
    <div>
    <img onclick="bonusFun()" style="height: 100%;width: 100%;" src="../../img/fahongbao.png">
    </div>
	<div id="mainIP" hidden="hidden"><%=httpUrl%>|<%=socketUrl%></div>
</body>
<script type="text/javascript" src="../../js/li/jquery.min.js"></script>
<script type="text/javascript" src="../../js/hc/bonus.js"  ></script>
<script src="../../js/plugins/layer/layer.js"></script>
<script type="text/javascript">
    var connectIP = $("#mainIP").html();
    var ip =connectIP.split("|")[0];
    function bonusFun(){
        /*$("#btnclsid").css({
            "animation": "none"
        })陈总的红包陈总的红包
        $("#btnclsid").css({
            "animation": "gelatine 0s 1"
        })*/
        setTimeout(sendMassage(),1000);
        
    }
    function sendMassage(){
        $.ajax({
            url:ip+'management/clicktorubbonus?bonus=chen',
            type:'get',
            async:false,
 
            success:function(data){
              
              layer.msg("消息发送成功");
            },
            error:function(){
              layer.msg("消息发送失败");
            }
        })
    }

</script>
</html>