<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>点击开始抽奖</title>

    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" />
     <link href="../../css/hc/click.css" rel="stylesheet" type="text/css" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    
</head>
<body style="height: 100%;background:url(../../img/green.jpg) ;background-size:100% 100%S ;text-align: center;">
    <div>
    <img onclick="bonusFun()" style="height: 100%;width: 100%;" src="../../img/hb.jpg">
    </div>
	<div id="mainIP" hidden="hidden"><%=httpUrl%>|<%=socketUrl%></div>
</body>
<script type="text/javascript" src="../../js/li/jquery.min.js"></script>
<script type="text/javascript" src="../../js/hc/bonus.js"  ></script>
<script type="text/javascript">
    function bonusFun(){
        /*$("#btnclsid").css({
            "animation": "none"
        })
        $("#btnclsid").css({
            "animation": "gelatine 0s 1"
        })*/
        setTimeout(sendMassage(),1000);
        
    }
    function sendMassage(){
        $.ajax({
            url:ip+'management/clicktorubbonus',//http://localhost:9999/
            type:'post',
            async:false,
            data:{"bonus":"bonus:1"},
            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success:function(data){
               /* $("#btnclsid").css({
                    "animation": "none"
                })
                $("#btnclsid").css({
                    "animation": "pulse 1s infinite alternate"
                })*/
              alert("消息发送成功");
            },
            error:function(){
              alert("消息发送失败");
            }
        })
    }

</script>
</html>