<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>消息墙</title>
<link rel="stylesheet" type="text/css" href="../../css/tangwc/chatwall.css">
<style type="text/css">
    
</style>
<body class="" style="">
    <div class="" style="height: 850px;background: url(../../img/screenImg.jpg);background-size:cover;position: absolute;width: 100%;">
        <div id="rootwall">
            <!-- <marquee direction=left  style="position:fixed;z-index:999;" vspace="100" loop="1">
                <div class="" style="background: url(../../img/longgif.jpg) no-repeat;">
                    <img src="../../img/gif.jpg" style="height: 50px;width: 50px;float: left;">
                    <div style="height: 45px;width: 300px;padding-top: 5px;font-size: 20pt;">hahaha</div>
                </div>
            </marquee> -->
        </div>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script src="../../js/tangwc/chatwall.js"></script> 
<script type="text/javascript">
    
    
</script>
</html>
