<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>用户列表</title>  
   <!--  <link rel="stylesheet" href="css/bootstrap-responsive.css">  
    <link rel="stylesheet" href="css/bootstrap.css">  
    <link rel="stylesheet" href="css/documentation.css">  
    <link rel="stylesheet" href="css/highlight.js/sunburst.css">  
  
    <script src="../js/jquery.min.js"></script>  
    <script src="../js/bootstrap.min.js"></script>  
    <script src="../js/bootstrap-paginator.js"></script>   -->
</head>  
<body>  
    <table border="1" style="width:300px;margin:0 auto;margin-top:10px;">  
        <tr>  
            <td>ID</td>  
            <td>UserName</td>  
            <td>Password</td>  
        </tr>  
        <%for(var i = 0;i<items.length;i++){%>  
            <tr>  
                <td><%=items[i].id%></td>  
                <td><%=items[i].userName%></td>  
                <td><%=items[i].password%></td>  
            </tr>  
        <%}%>  
    </table>  
  
    <div id="example"></div>  
    
</body>  
</html>  