
<!--Created by lixy on 2016/12/12-->
 
 <!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>jQuery征名投票代码</title>

    <link href="../../css/li/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <script type="text/javascript" src="../../js/li/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/li/script.js"  ></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>

    <style type="text/css">
        .tb960x90 {display:none!important;display:none}
    </style>
</head>
<body style=" background-color:#cb0000">
<div class="itagBox">
    <ul class="artist_l">
        <li class="tag1">
            <div class="votetext">
                <div class="tag_txt">
                    节目一
                </div>
                <a href="#">
                    征名释义：征名1
                </a>
            </div>
            <div class="votedo">
                <div class="cvotenum"><b>1002</b>票</div>
                <div class="cvote">投票</div>
            </div>
        </li>
        <li class="tag1 ">
            <div class="votetext">
                <div class="tag_txt">
                    节目2
                </div>
                <a href="#">
                    征名释义：征名2
                </a>
            </div> <div class="votedo">
                <div class="cvotenum"><b>1003</b>票</div>
                <div class="cvote">投票</div>
            </div>
        </li>
        <li class="tag1">
            <div class="votetext">
                <div class="tag_txt">
                    征名3
                </div>
                <a href="#">征名释义：征名3</a>
            </div>
            <div class="votedo">
                <div class="cvotenum"><b>1004</b>票</div>
                <div class="cvote">投票</div>
            </div>
        </li>
        <li class="tag1 ">
            <div class="votetext">
                <div class="tag_txt">
                    征名4
                </div>
                <a href="#">征名4</a>
            </div> <div class="votedo">
                <div class="cvotenum"><b>1005</b>票</div>
                <div class="cvote">投票</div>
            </div>
        </li>
        <li class="tag1"> <div class="votetext">
                <div class="tag_txt">
                    征名5
                </div>
                <a href="#">征名释义：征名5</a>
            </div> <div class="votedo">
                <div class="cvotenum"><b>1045</b>票</div>
                <div class="cvote">投票</div>
            </div>
        </li>
        <li class="tag1"> <div class="votetext">
                <div class="tag_txt">
                    征名6
                </div>
                <a href="#">征名释义：征名6</a>
            </div> <div class="votedo">
                <div class="cvotenum"><b>1008</b>票</div>
                <div class="cvote">投票</div>
            </div>
        </li>
    </ul>
</div>


</body>
</html>
